<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.9">
        <title>Fraud Prediction</title>
    </head>

<!-- Adding styles like colour, height, width, border to our html page -->

<body>
  <form action="#" method="POST"></form>
    <label for="V4">V4</label>
    <input type="number" name="V4" value="5">
    <hr>
    
    <label for="V10">V10</label>
    <input type="number" name="V10" value="5">
    <hr>
    
    <label for="V12">V12</label>
    <input type="number" name="V12" value="5">
    <hr>

    <label for="V14">V14</label>
    <input type="number" name="V14" value="5">
    <hr>
    
    <label for="V16">V16</label>
    <input type="number" name="V16" value="5">
    <hr>

    <label for="V17">V17</label>
    <input type="V17" name="V17" value="5">
    <hr>
    
    <input type="submit" name="submit" value="P R E D I C T" style="font-size: x-large; ">
  
  </form>

  {% block content %}
  {% endblock%}


</body>
</html>